<!--a child contact page -->

  <link href="/css/contact.css" rel="stylesheet">

  <!--Nav Bar Contents in father html-->
  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <br>
      <br>
      <div class="jumbotron">
        <h1>Contact US</h1>
        <br>
        <p>Get More Information About this APP</p>
        <br>
        <br>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Address</h2>
          <br>
          <p>Melbourne Victoria</p>
          <p>CBD</p>
          <p>Melbourne Center 9980</p>
        </div>
        <div class="col-md-4">
          <h2>Dial-In</h2>
          <br>
          <p>tel: 9898998</p>
          <br>
          <p>mobile: 665858588</p>
       </div>
        <div class="col-md-4">
          <h2>E-Mail us</h2>
          <br>
          <p>FoodStation@we.love.food</p>
          <br>
          <p>Doyoulovefood@we.love.food</p>
        </div>
      </div>

      
    </div> <!-- /container -->
  </body>
</html>
<!--footer contents in father html-->