<html>

<head>
<style>
body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
</head>
<body>

  <link href="/css/homepage.css" rel="stylesheet">

<!--Nav Bar Contents in father HTML-->
  <script src="/js/mapjs.js"></script>
  <script></script>
  <body>

    <!-- Carousel
    ================================================== -->
    <div class="carousel">
      
      <!--test map-->

      <div id="map"></div>
      
      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Gi_ynbhfA6popE_wamBgpGrA4Wc6-QM&callback=initMap&libraries=&v=weekly"
        async
      ></script>
      <!--test map end-->
      
    </div><!-- /.carousel -->

  </body>
</html>
<!--footer contents in father html-->