<!DOCTYPE html>   
<html>   
<head>  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <title> Customer Login </title>  
  <link href="/css/loginPage.css" rel="stylesheet">

</head>    
<body>   
  <div class="container">
    <div class="jumbotron"> 
      <center> 
          <h2> Login As: </h2> 
      </center>   
      <br><br>
      <div class="row">
          <div class="col-md-4">
            <center>
                <a href="/customer/login" class="btn btn-primary">Customer</a> 
            </center>  
          </div>   
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <center>
                <a href="/vendor/login" class="btn btn-primary">Vendor</a> 
            </center>
          </div>
          </div>
       <br><br><br> 
      <center> <br><a href="/customer/register">Register Here</a>  </center> 
      </div>
    </div>   
  </div>
</body>     
</html>  